@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700&display=swap");

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
#projects img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
.button-fixed {
  border-radius: 50% !important;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 25px !important;
}
/* navbar */
.navbar {
  background-color: white;
}
.navbar-brand logo {
  width: 27.81px;
  height: 34.76px;
  margin: 10px;
  display: flex;
}

.navbar-brand {
  font-family: "Work Sans";
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  line-height: 2;
  color: blue !important;
}

.navbar-nav .nav-link {
  color: #555;
  font-size: 18px;
  font-weight: 400;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: blue;
}
.contact {
  color: rgba(249, 153, 93, 1) !important;
}
/* hero */
#home {
  background-image: url("/src/components/img/hero-test.jpg");
  height: 90vh;
  object-fit: cover;
  background-size: cover;
}
.home-card-position {
  position: absolute;
  z-index: 111;
  bottom: 3%;
  right: 0;
}
.home-card {
  width: 100%;
  background-color: rgba(53, 89, 199, 1);
}

.hero-text {
  font-weight: 600;
  color: rgba(41, 46, 61, 1);
  font-size: 72px;
}

@media screen and (max-width: 992px) {
  .hero-text {
    font-size: 28px;
    justify-content: start;
    display: flex;
    text-align: start;
  }
}
.card-text {
  color: #fff;
}
.buttons button {
  font-size: 20px;
}
.buttons span {
  margin: 5px;
  font-size: 24px;
}
.btn-buttons {
  width: 50%;
}
.project {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
}
.university {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}
/* reputation text */
/* about */
.teams {
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.text-teams {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(133, 142, 173, 1);
}

.reputation {
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(41, 46, 61, 1);
}
/* About */
#section-about {
  padding: 20px 0;
}
.container-about {
  text-align: center;
  display: flex;
  justify-content: start;
  width: 100%;
}

.about-img img {
  object-fit: cover;
  width: 100%;
  height: 600px;
}

.text-about {
  background: rgba(41, 71, 169, 1);
  color: #fff;
  box-shadow: 0px 20px 8px 4px rgba(17, 24, 39, 0.1);
}

@media screen and (min-width: 992px) {
  .text-about {
    position: relative;
    z-index: 99;
    left: -99px;
    top: 56px;
  }
}

.about-text {
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 0.7;
}
.about-p {
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
}
.button-about {
  width: 60%;
  background-color: #fff;
  color: rgba(41, 71, 169, 1);
  border-radius: 5px;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.button-about:hover {
  transition: 0.8s all;
  background-color: #e0e0e0;
}
/* services*/
.services-text {
  color: rgba(41, 46, 61, 1);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
}
#services {
  background: rgba(246, 248, 247, 1);
}
.hover-cards:hover > * {
  cursor: pointer;
  background-color: rgb(123, 123, 124) !important;
}

/* Experience */
/* experience cards */

/* media query cards */
@media screen and (min-width: 768px) {
  /* card 1 */
  .card-1 {
    box-shadow: 1px 1px 4px #a3a3a3;
    position: relative;
    z-index: 1111;
  }
  .card-1-icon {
    position: absolute;
    left: 98%;
    top: 18%;
    transform: translate(-50%, -50%);
  }
  .card-1-number {
    line-height: 1.2;
    color: rgba(41, 45, 61, 1);
  }
  .card-1-text {
    border-left: 3px solid rgba(249, 153, 93, 1);
    color: rgba(102, 114, 153, 1);
  }

  /* card 2 */
  .card-2 {
    background-color: #fff;
    box-shadow: 1px 1px 4px #a3a3a3;
    z-index: -1;
    position: relative;
    right: 20%;
    transform: translate(-10%, -30%);
  }
  .card-2-icon {
    position: absolute;
    left: 0%;
    top: -10%;
    transform: translate(-50%, -50%);
  }
  .card-2-number {
    line-height: 1.2;
    color: rgba(41, 45, 61, 1);
  }
  .card-2-text {
    border-left: 3px solid rgba(249, 153, 93, 1);
    color: rgba(102, 114, 153, 1);
  }

  /* card 3 */
  .card-3 {
    background-color: #fff;
    box-shadow: 1px 1px 4px #a3a3a3;
    position: relative;
    z-index: 1111;
    left: 0;
    top: -10%;
    transform: translate(-25%, -45%);
  }

  .card-3-icon {
    position: absolute;
    left: 98%;
    top: 18%;
    transform: translate(-70%, -70%);
  }

  .card-3-number {
    line-height: 1.2;
    color: rgba(41, 45, 61, 1);
  }

  .card-3-text {
    border-left: 3px solid rgba(249, 153, 93, 1);
    color: rgba(102, 114, 153, 1);
  }
  /* card 4 */
  .card-4 {
    background-color: #fff;
    box-shadow: 1px 1px 4px #a3a3a3;
    position: relative;
    z-index: -3;
    right: 20%;
    transform: translate(-5%, -70%);
  }
  .card-4-icon {
    position: absolute;
    right: -10%;
    bottom: -15%;
  }
  .card-4-number {
    line-height: 1.2;
    color: rgba(41, 46, 61, 1);
  }
  .card-4-text {
    border-left: 3px solid rgba(249, 153, 93, 1) !important;
    color: rgba(102, 114, 153, 1);
  }
}

@media screen and (max-width: 768px) {
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 300px;
    margin-bottom: 3rem !important;
  }
  /* card 1 */
  .card-1 {
    box-shadow: 1px 1px 4px #a3a3a3;
    position: relative;
  }
  .card-1-icon {
    position: absolute;
    left: 98%;
    top: 18%;
    transform: translate(-50%, -50%);
  }
  .card-1-number {
    line-height: 1.2;
    color: rgba(41, 45, 61, 1);
  }
  .card-1-text {
    border-left: 3px solid rgba(249, 153, 93, 1);
    color: rgba(102, 114, 153, 1);
  }

  /* card 2 */
  .card-2 {
    background-color: #fff;
    box-shadow: 1px 1px 4px #a3a3a3;
    position: relative;
  }
  .card-2-icon {
    position: absolute;
    left: 0%;
    top: -10%;
    transform: translate(-50%, -50%);
  }
  .card-2-number {
    line-height: 1.2;
    color: rgba(41, 45, 61, 1);
  }
  .card-2-text {
    border-left: 3px solid rgba(249, 153, 93, 1);
    color: rgba(102, 114, 153, 1);
  }

  /* card 3 */
  .card-3 {
    background-color: #fff;
    box-shadow: 1px 1px 4px #a3a3a3;
    position: relative;
  }

  .card-3-icon {
    position: absolute;
    left: 98%;
    top: 18%;
    transform: translate(-70%, -70%);
  }

  .card-3-number {
    line-height: 1.2;
    color: rgba(41, 45, 61, 1);
  }

  .card-3-text {
    border-left: 3px solid rgba(249, 153, 93, 1);
    color: rgba(102, 114, 153, 1);
  }
  /* card 4 */
  .card-4 {
    background-color: #fff;
    box-shadow: 1px 1px 4px #a3a3a3;
    position: relative;
  }
  .card-4-icon {
    position: absolute;
    right: -10%;
    bottom: -15%;
  }
  .card-4-number {
    line-height: 1.2;
    color: rgba(41, 46, 61, 1);
  }
  .card-4-text {
    border-left: 3px solid rgba(249, 153, 93, 1) !important;
    color: rgba(102, 114, 153, 1);
  }
}

/* experience text */
.experience-h2 {
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(41, 71, 169, 3) !important;
}
@media screen and (min-width: 992px) {
  .experience-h2 {
    font-family: "Work Sans";
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    color: rgba(41, 71, 169, 3) !important;
  }
}

.experience-h4 {
  font-family: "Work Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(41, 71, 169, 3) !important;
}
.experience-button {
  font-family: "Work Sans";
  font-size: 15px;
  font-weight: 50;
  line-height: 2;
  text-align: center;
}
/* consultation */
#consultation {
  background-image: url(/src/components/img/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.free-text {
  color: rgba(255, 255, 255, 1);
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
.free-text-p {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.free-text-number {
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}
.free-text-number:hover {
  color: rgb(181, 181, 181);
  transition: 0.8s;
}

@media screen and (max-width: 744px) {
  .free-text {
    font-size: 28px;
  }
  .free-text-p {
    font-size: 18px;
  }
  .button-text {
    justify-content: center;
  }
}

.button-get {
  color: aliceblue !important;
  border: 1px solid white !important;
  font-family: Work Sans;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 0 !important;
  cursor: grab;
}
.button-get:hover {
  background-color: #4e4e4e !important;
  transition: 0.8s;
}
.btn-width {
  width: 60%;
}
/* Cards */
.custom-card-title {
  color: #fff !important;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  padding: 10px;
}

.custom-card-body {
  color: #fff !important;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.nav-links {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: rgba(194, 199, 214, 1);
}
.nav-items {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: rgb(8, 15, 36);
}
.subscribes {
  background-color: rgba(246, 248, 247, 1);
}
.subscribe-h1 {
  font-family: Work Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  color: rgba(41, 46, 61, 1);
}
.subscribe-h3 {
  color: rgba(41, 46, 61, 1);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}
/* footer */
.footer-contact {
  color: rgba(41, 71, 169, 1);
  font-weight: 700;

  font-family: Work Sans;
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.2;
}
.sub-button {
  color: #fff !important;
  background-color: rgba(249, 153, 93, 1) !important;
}
.footer-copyright {
  color: #fff !important;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}
.icon-nav-footer a {
  text-decoration: none;
}
.custom-card img {
  object-fit: cover;
}
